<div class='row'>
            <div class='col-md-10'>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>设备品牌</th>
                            <td>{{ res.dev_info.brand }}</td>
                        </tr>
                        <tr>
                            <th>设备型号</th>
                            <td>{{ res.dev_info.model }}</td>
                        </tr>
                        <tr>
                            <th>设备规格(单位:u)</th>
                            <td>{{ res.dev_info.unit }}</td>
                        </tr>
                        <tr>
                            <th>设备价格</th>
                            <td>{{ res.dev_info.price }}</td>
                        </tr>
                        <tr>
                            <th>购买时间</th>
                            <td>{{ res.dev_info.buy_time }}</td>
                        </tr>
                        <tr>
                            <th>过保时间</th>
                            <td>{{ res.dev_info.expired_time }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='col-md-2'></div>
        </div>

