<div class='row'>
            <div class='col-md-10'>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>IDC</th>
                            <td>{{ res.idc_info.idc }}</td>
                        </tr>
                        <tr>
                            <th>机柜位置</th>
                            <td>{{ res.idc_info.cabinet_pos }}</td>
                        </tr>
                        <tr>
                            <th>托盘位置</th>
                            <td>{{ res.idc_info.tray_pos }}</td>
                        </tr>
                        <tr>
                            <th>机房联系人</th>
                            <td>{{ res.idc_info.jifang_uname }}</td>
                        </tr>
                        <tr>
                            <th>机房电话</th>
                            <td>{{ res.idc_info.jifang_phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='col-md-2'></div>
        </div>

